/*yeong seop*/

/*메인 페이지 header*/
.site-menu ul > li > a {
  margin: 0 50px;
  font-size: 1.5rem;
}

/*sung gyu*/

/* 동네인증하기 */
.location-check{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
}

.location-check > a {
    font-size : 20px;
    width: 250px;
    height : 50px;
}

.location-title{
    /* border:1px solid black; */
    height: 70px;
    display: flex;
    justify-content: center;
    font-weight:bold;
    font-size:40px;
    margin-top : 50px;
}
.location-title > div{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.location-box{
    /* border:1px solid black; */
    width:240px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin:auto;
    border: 2px solid black;
    
}

.location-box > div{
    font-size: 30px;
    color:black;
    font-weight: bold;
    height: 70px;
    display: flex;
    justify-content: center;
    line-height: 70px;
}

.location-image{
    /* border:1px solid black; */
    height: 350px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.location-image > iframe{
    width:800px;
    height:400px;
    border: 1px solid black;
    line-height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.location-result-box{
    /* border:1px solid black; */
    height: 120px;
    display: flex;
    justify-content: center;
}

.location-result-box > div{
    margin-top: 0px;
    width: 550px;
    height: 80px;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-style: dashed;
    border-bottom-style: dashed;

}

.location-confirm{
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    align-items: center;
  
    justify-content: center;
    border-radius: 10px;
    width: 250px;
    height : 70px;
    font-size:20px;
    color:white;
    border:0px
}

.form-border{
    border:3px solid black;
    border-radius: 10px;
    color :rgb(13, 169, 239);
}

/* jc css */
/* 신고글목록 */
.black-border{
    border:1px solid #e1e7ec;
}

/**********************************************/
/* !!! 여기서 부터는 장성필님의 CSS 입니다 !!! */
/**************************************** ******/

/*  !!! register.html  !!! */
.main {
    /* background-color: cornsilk; */
  
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: auto;
  }
  
  .main > .main-container {
    padding: 20px;
    /* border: 1px solid black; */
  }
  .subject {
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(13, 169, 239);
  }
  .barrier {
    border: 0.1px solid rgb(13, 169, 239);
    margin: 20px 0px 5px 0px;
  }
  
  .image {
    /* background-color: deepskyblue; */
  
    display: flex;
    height: 280px;
    /* border: 1px solid black; */
    border-radius: 4px;
    align-items: center;
  }
  
  .image-image {
    margin: 3%;
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    display: flex;
  }
  .image-description {
    /* border: 1px solid black; */
    margin: 3%;
    
  }
  
  .name {
    /* background-color: lightsteelblue; */
    display: flex;
    height: 100px;
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .name-input {
    margin: 3%;
    border: 1px solid black;
    width: 60%;
    height: 30%;
  }
  
  .name-input::-webkit-input-placeholder {
    text-align: center;
  }
  
  .category {
    /* background-color: powderblue; */
    display: flex;
    height: 430px;
    /* border: 1px solid black; */
    text-align: center;
    align-items: center;
  }
  
  .category-input {
    margin: 3%;
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
  }
  
  .category-input-item {
    width: 60%;
    height: 330px;
    border: 1px solid rgb(195, 194, 204);
    border-radius: 4px;
    text-align: center;
  }
  .category-input-item > ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0%;
    margin-top: 100px;
  }
  .category-input-item > ul > li > button {
    border: 0;
    outline: 0;
    background: white;
  }
  .category-input-item > ul > li > button:active {
    color: red;
  }
  .category-input-item > ul > li > button:hover {
    background-color: rgb(13, 169, 239);
  }
  .price {
    /* background-color: tan; */
    display: flex;
    height: 100px;
    /* border: 1px solid black; */
    text-align: center;
    align-items: center;
  }
  
  .price-input {
    margin: 3%;
    width: 60%;
    height: 30%;
    border: 1px solid black;
    display: flex;
  }
  .price-input-checkbox{
    margin-left: -25px;
    
  }
  .price-input::-webkit-input-placeholder {
    text-align: center;
  }
  
  .description {
    /* background-color: lightsteelblue; */
    display: flex;
    height: 280px;
    /* border: 1px solid black; */
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .description-input {
    margin: 3%;
    /* border: 1px solid black; */
    width: 60%;
    height:200px;
    margin-right: 30px;
 
    
  }
  .description-input::-webkit-input-placeholder {
    text-align: center;
    line-height: 180px;
    font-size: 15px;
    margin-top: 60%;
    color: rgb(156 168 184);
  }
  .description-count {
    margin: 15% 0px 0 0;
  }
  
  .regist {
    /* width: 160px;*/
    height: 56px; 
 
    display: flex;
    /* //margin: 0 auto; */
    justify-content: center;
    /* border:1px solid black; */
    margin-right: 20px;
    align-items: center;
  }
  .regist_title{
    margin: 3%;
    /* border: 1px solid black; */
    width: 20%;
    height: 50px;
    margin-right: 30px;
  }
  .regist_container{
    margin: 3%;
    /* border: 1px solid black; */
    width: 60%;
    height: 50px;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .regist_container  > button {
    width: 180px;
    border: 0px;
    color:white;
  }

  
  .category-scroll ::-webkit-scrollbar {
    width: 10px;
    background-color: blue;
  }
  
  
  /* 클래스 속성 ( tag x )  */
  
  
  .form-control {
    border-radius: 3px;
    border: 1px solid rgb(13, 169, 239);
  }
  
  .font-title {
    width: 10.5rem;
    font-weight: 550;
    font-size: 20px;
    
    border: 0px solid black;
    margin: 3%;
    margin-left: 7%;
    text-align: left;
  }
  .font-title > span {
    font-weight: 10;
    font-size: 12px;
    margin-left: -2px;
  }
  
  .asterisk {
    color: red;
    margin: 3%;
  }
  .inputbox {
    border: 1px solid rgb(195, 194, 204);
  }
  
  .scroll-container {
    border: 0px solid black;
    width: 250px;
    height: 150px;
    overflow: scroll;
  }
  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgb(13, 169, 239);
  }
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* km css */ 
chat-sector{
      box-sizing:border-box;
  }
chat-sector{
      background-color:#abd9e9;
      font-family:Arial;
}
#chatTitle{
  text-align: center;
}
#chat h1{
  font-size:25px;
}
  
#chat-container{
    width:750px;
    height:800;
    background:#eff3f7;
    margin:0 auto;
    font-size:0;
    border-radius:5px;
    overflow:hidden;
}
  chat-aside{
      width:260px;
      height:800px;
      background-color:#3b3e49;
      display:inline-block;
      font-size:15px;
      vertical-align:top;
  }
  chat-main{
      width:490px;
      height:800px;
      display:inline-block;
      font-size:15px;
      vertical-align:top;
  }
  
  chat-aside chat-header{
      padding:0px 0px;
  }
  chat-aside input{
      width:100%;
      height:50px;
      line-height:50px;
      padding:0 50px 0 20px;
      background-color:#5e616a;
      border:none;
      border-radius:3px;
      color:#fff;
      background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
      background-repeat:no-repeat;
      background-position:170px;
      background-size:40px;
  }
  chat-aside input::placeholder{
      color:#fff;
  }
  chat-aside ul{
      padding-left:0;
      margin:0;
      list-style-type:none;
      overflow-y:scroll;
      height:690px;
  }
  chat-aside ul::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
  }
  chat-aside li{
      padding:10px 0;
  }
  chat-aside li:hover{
      background-color:#5e616a;
  }
  chat-sector h2,h3{
      margin:0;
  }
  chat-aside li img{
      border-radius:50%;
      margin-left:20px;
      margin-right:8px;
  }
  chat-aside li div{
      display:inline-block;
      vertical-align:top;
      margin-top:12px;
  }
  chat-aside li h2{
      font-size:14px;
      color:#fff;
      font-weight:normal;
      margin-bottom:5px;
  }
  chat-aside li h3{
      font-size:12px;
      color:#7e818a;
      font-weight:normal;
  }
  
  .status{
      width:8px;
      height:8px;
      border-radius:50%;
      display:inline-block;
      margin-right:7px;
  }
  .green{
      background-color:#58b666;
  }
  .orange{
      background-color:#ff725d;
  }
  .blue{
      background-color:#6fbced;
      margin-right:0;
      margin-left:7px;
  }
  
  chat-main chat-header{
      height:110px;
      padding:10px 20px 0px 0px;
  }
  chat-main chat-header > *{
      display:inline-block;
      vertical-align:top;
  }
  chat-main chat-header img:first-child{
      border-radius:50%;
      margin-top:10%;
  }
  /* chat-main chat-header img:last-child{
      width:24px;
      margin-top:8px;
  } */
  chat-main chat-header div{
      margin-left:0;
      margin-right:0px;
  }
  chat-main chat-header h2{
      font-size:16px;
      margin-bottom:5px;
  }
  chat-main chat-header h3{
      font-size:14px;
      font-weight:normal;
      color:#7e818a;
  }
  
  #chat{
      padding-left:0;
      margin:0;
      list-style-type:none;
      overflow-y:scroll;
      height:535px;
      border-top:2px solid #fff;
      border-bottom:2px solid #fff;
  }
  #chat::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
  }
  #chat li{
      padding:10px 30px;
  }
  #chat h2,#chat h3{
      display:inline-block;
      font-size:13px;
      font-weight:normal;
  }
  #chat h3{
      color:#bbb;
  }
  #chat .entete{
      margin-bottom:5px;
  }
  #chat .message{
      padding:20px;
      color:#fff;
      line-height:25px;
      max-width:90%;
      display:inline-block;
      text-align:left;
      border-radius:5px;
  }
  #chat .me{
      text-align:right;
  }
  #chat .you .message{
      background-color:#58b666;
  }
  #chat .me .message{
      background-color:#6fbced;
  }
  #chat .triangle{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
  }
  #chat .you .triangle{
          border-color: transparent transparent #58b666 transparent;
          margin-left:15px;
  }
  #chat .me .triangle{
          border-color: transparent transparent #6fbced transparent;
          margin-left:375px;
  }
  
  chat-main chat-footer{
      height:155px;
      padding:20px 30px 10px 20px;
  }
  chat-main chat-footer textarea{
      resize:none;
      border:none;
      display:block;
      width:100%;
      height:80px;
      border-radius:3px;
      padding:20px;
      font-size:13px;
      margin-bottom:13px;
  }
  chat-main chat-footer textarea::placeholder{
      color:#ddd;
  }
  chat-main chat-footer img{
      height:30px;
      cursor:pointer;
  }
  chat-main chat-footer a{
      text-decoration:none;
      text-transform:uppercase;
      font-weight:bold;
      color:#6fbced;
      vertical-align:top;
      margin-left:333px;
      margin-top:5px;
      display:inline-block;
  }

  /* 회원가입 관련 */
.loginjoin-title{
  text-align:center;
  font-size:30px;
  margin:20px 20px 8px;
  padding:0 12px 48px;
}