/*yeong seop*/

/*메인 페이지 header*/
.site-menu ul > li > a {
  margin: 0 50px;
  font-size: 1.5rem;
}

/*sung gyu*/

/* 동네인증하기 */
.location-check{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
}

.location-check > a {
    font-size : 20px;
    width: 250px;
    height : 50px;
}

.location-title{
    /* border:1px solid black; */
    height: 70px;
    display: flex;
    justify-content: center;
    font-weight:bold;
    font-size:40px;
    margin-top : 50px;
}
.location-title > div{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.location-box{
    /* border:1px solid black; */
    width:240px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin:auto;
    border: 2px solid black;
    
}

.location-box > div{
    font-size: 30px;
    color:black;
    font-weight: bold;
    height: 70px;
    display: flex;
    justify-content: center;
    line-height: 70px;
}

.location-image{
    /* border:1px solid black; */
    height: 350px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.location-image > iframe{
    width:800px;
    height:400px;
    border: 1px solid black;
    line-height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.location-result-box{
    /* border:1px solid black; */
    height: 120px;
    display: flex;
    justify-content: center;
}

.location-result-box > div{
    margin-top: 0px;
    width: 550px;
    height: 80px;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-style: dashed;
    border-bottom-style: dashed;

}

.location-confirm{
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    align-items: center;
  
    justify-content: center;
    border-radius: 10px;
    width: 250px;
    height : 70px;
    font-size:20px;
    color:white;
    border:0px
}

.form-border{
    border:3px solid black;
    border-radius: 10px;
    color :rgb(13, 169, 239);
}